{% extends "page.html" %}
{% block content %}

    <div class="container d-flex h-100 p-3 mx-auto flex-column text-center">
        <header class="masthead mb-auto">
            <div class="inner">
                <!-- <h3 class="masthead-brand">Fruity</h3> -->
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/" style="border-bottom-color: rgba(255, 255, 255, .5)!important;">Home</a>
                    <a class="nav-link" href="/about">About</a>
                    <a class="nav-link" href="/credit">Credit</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover px-lg-5 my-auto">

            <h1 class="cover-heading">Fruity Image Classifier</h1>
            
            <div class="row justify-content-md-center mt-5">
                <div class="col-md-auto">
                    <form action="#" method="POST">
                        <h5 class="cover-heading">Sudah Makan Buah Apa Hari Ini?</h5>
                        <input name="nama_buah" class="form-control my-3" type="text" placeholder="ex: Jeruk">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Lanjut</button>
                    </form>
        
                    <form class="form-signin mt-5" method=post enctype=multipart/form-data>
                        <h5 class="mb-3 cover-heading">atau Upload Gambar Buah</h5>
                        <input type="file" name="file" class="form-control-file" id="inputfile"  onchange="preview_image(event)">
                        <br />
                        <img id="output-image" class="rounded mx-auto d-block"/>
                        <button class="btn btn-lg btn-secondary btn-block" type="submit">Upload</button>
                    </form>
                </div>
            </div>
            
        
            <script type="text/javascript">
                function preview_image(event) {
                    var reader = new FileReader();
                    reader.onload = function(){
                        var output = document.getElementById('output-image')
                        output.src = reader.result;
                    }
                    reader.readAsDataURL(event.target.files[0]);
                }
            </script>

        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <small>
                    <p class="mb-0">Bangkit 2021</p>
                    Capstone Project - <a href="mailto:y.d.krisdiantoro@gmail.com">B21-CAP0456</a>
                </small>
            </div>
        </footer>
    </div>

{% endblock %}